<div class="main ui container">
	
	<div class="new-list">
		<h2 class="ui dividing header">最新の動画</h2>

		<div class="ui stackable four column grid">
			<div class="column">
				<%= link_to image_tag("/default-thumbnail.png"), "/posts/show" , class:"ui fluid image" %>
				<h3 class="ui header" style="margin-top: 10px">
					タイトル
					<div class="sub header">
						<div class="ui image circular">
							<%= link_to image_tag("/users/penguin.png"), "/users/show" , class:"ui image circular mini" %>
						</div>
						ユーザー名
					</div>
				</h3>
			</div>

			<div class="column">
				<%= link_to image_tag("/default-thumbnail.png"), "/posts/show" , class:"ui fluid image" %>
				<h3 class="ui header" style="margin-top: 10px">
					タイトル
					<div class="sub header">
						<div class="ui image circular">
							<%= link_to image_tag("/users/penguin.png"), "/users/show" , class:"ui image circular mini" %>
						</div>
						ユーザー名
					</div>
				</h3>
			</div>
			
			<div class="column">
				<%= link_to image_tag("/default-thumbnail.png"), "/posts/show" , class:"ui fluid image" %>
				<h3 class="ui header" style="margin-top: 10px">
					タイトル
					<div class="sub header">
						<div class="ui image circular">
							<%= link_to image_tag("/users/penguin.png"), "/users/show" , class:"ui image circular mini" %>
						</div>
						ユーザー名
					</div>
				</h3>
			</div>

			<div class="column">
				<%= link_to image_tag("/default-thumbnail.png"), "/posts/show" , class:"ui fluid image" %>
				<h3 class="ui header" style="margin-top: 10px">
					タイトル
					<div class="sub header">
						<div class="ui image circular">
							<%= link_to image_tag("/users/penguin.png"), "/users/show" , class:"ui image circular mini" %>
						</div>
						ユーザー名
					</div>
				</h3>
			</div>
		
	</div><!-- New List End -->

	<div class="topic-list">
		<h2 class="ui dividing header mt-4">おすすめ</h2>
		
		<div class="ui stackable four column grid">
			<div class="column">
				<%= link_to image_tag("/default-thumbnail.png"), "/posts/show" , class:"ui fluid image" %>
				<h3 class="ui header" style="margin-top: 10px">
					タイトル
					<div class="sub header">
						<div class="ui image circular">
							<%= link_to image_tag("/users/penguin.png"), "/users/show" , class:"ui image circular mini" %>
						</div>
						ユーザー名
					</div>
				</h3>
			</div>

			<div class="column">
				<%= link_to image_tag("/default-thumbnail.png"), "/posts/show" , class:"ui fluid image" %>
				<h3 class="ui header" style="margin-top: 10px">
					タイトル
					<div class="sub header">
						<div class="ui image circular">
							<%= link_to image_tag("/users/penguin.png"), "/users/show" , class:"ui image circular mini" %>
						</div>
						ユーザー名
					</div>
				</h3>
			</div>
			
			<div class="column">
				<%= link_to image_tag("/default-thumbnail.png"), "/posts/show" , class:"ui fluid image" %>
				<h3 class="ui header" style="margin-top: 10px">
					タイトル
					<div class="sub header">
						<div class="ui image circular">
							<%= link_to image_tag("/users/penguin.png"), "/users/show" , class:"ui image circular mini" %>
						</div>
						ユーザー名
					</div>
				</h3>
			</div>

			<div class="column">
				<%= link_to image_tag("/default-thumbnail.png"), "/posts/show" , class:"ui fluid image" %>
				<h3 class="ui header" style="margin-top: 10px">
					タイトル
					<div class="sub header">
						<div class="ui image circular">
							<%= link_to image_tag("/users/penguin.png"), "/users/show" , class:"ui image circular mini" %>
						</div>
						ユーザー名
					</div>
				</h3>
			</div>

		</div>

	</div><!-- Topic List End -->
</div>